header {
    width: 100%;
    background-color: #9370DB; /* change chocolate to a pale violet color */
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

body {
    background-color: #87CEFA; /* change crimson to a pale blue color */
}

header img {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
}

header a {
    background-color: #9370DB; /* change chocolate to a pale violet color */
    padding: 10px;
    float: right;
}

nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    background-color: #9370DB; /* change chocolate to a pale violet color */
    padding: 50px;
}

table {
    width: 960px;
    margin: 0 auto;
    order: -1;
}

thead {
    background-color: #ccc;
}

tbody tr:nth-child(even) {
    background-color: #8A2BE2; /* change red to a pale violet color */
}

tbody tr:nth-child(odd) {
    background-color: #ADD8E6; /* change blue to a pale blue color */
}

@media screen and (min-width: 981px) {
    header {
        flex-direction: row;
    }
    table {
        order: 0;
    }
}
